.dropdownWrapper {
	position: relative;
  }

  .dropdownContainer {
	display: flex;
	flex-direction: column;
	gap: 4px;
  }

  .arrowIndicator {
	position: absolute;
	top: 50%;
	right: 6px;
	margin-top: -12px;
	transition: transform 0.2s ease-in-out, margin-top 0.2s ease-in-out;
  }

  .displayText {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 15px 17px;
	background: rgb(255, 255, 255);
	outline: 1px solid #000;
	cursor: pointer;
  }

  .displayText[data-selected='true'] {
	color: rgb(0, 0, 0);
  }

  .dropdownWrapper[data-is-active='true'] .arrowIndicator {
	margin-top: -14px;
	transform: rotate(180deg);
  }

  .dropdownWrapper[data-is-active='true'] .displayText {
	outline: 3px solid #000;
  }

  .dropdownWrapper:not([data-is-active='true'])
	.displayText:not([data-status='invalid']):hover {
	outline: 1px solid #ffc802;
  }

  .optionList {
	position: absolute;
	z-index: 10;
	display: grid;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(255, 255, 255, 1);
	border-top: none;
	outline: 3px solid #000;
  }

  .optionItem {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 30px;
	padding: 5px 17px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid transparent;
	cursor: pointer;
  }

  .optionItem[aria-selected='true'] {
	background-color: rgba(0, 0, 0, 0.05);
  }

  .optionItem:hover {
	background: var(--light-grey, #eeeeee);
  }

  .optionItem:active {
	background: var(--grey, #c4c4c4);
  }

  @mixin colorIndicatorBefore {
	content: '';
	width: 35px;
	height: 35px;
	margin-right: 10px;
  }

  .optionBlack::before {
	@include colorIndicatorBefore;
	background-color: #000;
  }

  @mixin colorIndicatorAfter {
	content: '';
	position: absolute;
	left: 26px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
  }

  .optionBlack[data-selected='true']::after {
	@include colorIndicatorAfter;
	background-color: #fff;
  }

  .optionWhite::before {
	@include colorIndicatorBefore;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #000;
  }

  .optionWhite[data-selected='true']::after {
	@include colorIndicatorAfter;
	background-color: #000;
  }

  .optionGray::before {
	@include colorIndicatorBefore;
	background-color: #c4c4c4;
  }

  .optionGray[data-selected='true']::after {
	@include colorIndicatorAfter;
	background-color: #fff;
  }

  .optionPink::before {
	@include colorIndicatorBefore;
	background-color: #feafe8;
  }

  .optionPink[data-selected='true']::after {
	@include colorIndicatorAfter;
	background-color: #fff;
  }

  .optionFuchsia::before {
	@include colorIndicatorBefore;
	background-color: #fd24af;
  }

  .optionFuchsia[data-selected='true']::after {
	@include colorIndicatorAfter;
	background-color: #fff;
  }

  .optionYellow::before {
	@include colorIndicatorBefore;
	background-color: #ffc802;
  }

  .optionYellow[data-selected='true']::after {
	@include colorIndicatorAfter;
	background-color: #fff;
  }

  .optionGreen::before {
	@include colorIndicatorBefore;
	background-color: #80d994;
  }

  .optionGreen[data-selected='true']::after {
	@include colorIndicatorAfter;
	background-color: #fff;
  }

  .optionBlue::before {
	@include colorIndicatorBefore;
	background-color: #6fc1fd;
  }

  .optionBlue[data-selected='true']::after {
	@include colorIndicatorAfter;
	background-color: #fff;
  }

  .optionPurple::before {
	@include colorIndicatorBefore;
	background-color: #5f0dee;
  }

  .optionPurple[data-selected='true']::after {
	@include colorIndicatorAfter;
	background-color: #fff;
  }

  @mixin widthIndicatorBefore {
	content: '';
	width: 25px;
	height: 25px;
	margin-right: 10px;
  }

  .optionWide::before {
	@include widthIndicatorBefore;
	background-image: url('./../../images/wide.svg');
}

.optionNarrow::before {
  @include widthIndicatorBefore;
  background-image: url('./../../images/narrow.svg');
}