.sidebar {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow-y: auto;
	transform: translateX(-616px);
	transition: transform 0.5s ease;
  }

  .sidebar_open {
	transform: translateX(0);
  }

  .formLayout {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 616px;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #fff;
	border-right: 1px solid #000;
	box-sizing: border-box;
	flex-shrink: 0;
  }

  .footer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
  }
